# virtual environments
venvc/
venvj/
venvcMac/
venvWin/
myenv/

*.mp3
*.mp4

# Python cache files
__pycache__/
*.pyc
*.pyo

# IDE and editor files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
